python==3.9.2
icecream==2.1.3
numpy==1.26.1
pygame==2.5.2
random==3.9.2 
winsound==3.9.2
sys==3.9.2

'''Tanto random,winsound como sys no tienen versiones propias,
sus versiones son las del python que se esté usando en el momento'''
